PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=uclpark
DB_PASSWORD=uclpark123
DB_NAME=uclpark_db

MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=uclpark_db
MYSQL_USER=uclpark
MYSQL_PASSWORD=uclpark123
